.idea
/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/fonts/
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

/database/seeds/
/public/imagenes/usuarios/
/public/imagenes/studio_gallery/
/public/imagenes/courses/
/public/imagenes/instructores/
/public/pdf/
/storage/fonts/
worker.log
course-messages.log

