nav a {
    font-size: 14px;
}

nav {
    display: inline-block;
    float: right;
    margin: 0;
}

.sf-menu {
    display: block;
}

.sf-menu ul {
    display: none;
    position: absolute;
    top: -999px;
    z-index: 999;
}

.sf-menu a {
    display: block;
}

.sf-menu li:hover ul, .sf-menu li.sfHover ul {
    z-index: 999;
}

ul.sf-menu li:hover li ul, ul.sf-menu li.sfHover li ul {
    display: none;
    top: -999px;
    z-index: 999;
}

ul.sf-menu li li:hover ul, ul.sf-menu li li.sfHover ul {
    left: 100%;
    top: 0;
    z-index: 999;
}

ul.sf-menu > li {
    float: left;
    font: 600 15px "Comfortaa", Georgia, sans-serif;
    margin-left: 22px;
    position: relative;
}

ul.sf-menu > li > a > .sf-sub-indicator {
    background: url(../images/indicator.png) 0 0 no-repeat;
    display: block;
    height: 6px;
    left: 50%;
    margin-left: -2px;
    position: absolute;
    top: 33px;
    width: 5px;
}

#first-li {
    border-left: none;
}

#last-li {
    border-right: none;
}

ul.sf-menu > li:first-child {
    border-left: none;
}

ul.sf-menu > li > a {
    color: #fff;
    display: block;
    font: 600 16px "Comfortaa", Georgia, sans-serif;
    padding: 0 1px;
    text-align: center;
    text-transform: uppercase;
}

ul.sf-menu > li > a strong {
    display: inline-block;
    height: 0px;
    left: -5%;
    position: absolute;
    top: -73px;
    transition: all 0.3s ease;
    width: 110%;
}

ul.sf-menu > li.current > a,
ul.sf-menu > li.sfHover > a,
ul.sf-menu > li > a:hover {
    color: orange;
    font-weight: bold;
}

ul.sf-menu > li.current > a strong,
ul.sf-menu > li.sfHover > a strong,
ul.sf-menu > li > a:hover strong {
    height: 0px;
}

.sf-menu > li > ul {
    background: #232322;
    left: -19px;
    padding: 23px 0 21px 0;
    top: 42px;
    width: 261px;
    z-index: 99;
}

.sf-menu > li > ul > li {
    font-size: 12px;
    font-weight: normal;
    padding-bottom: 3px;
    padding: 0;
    position: relative;
}

.sf-menu > li > ul > li > a {
    color: #686666;
    display: block;
    font: 600 13px/13px "Comfortaa", Arial, sans-serif;
    padding: 6px 0;
    text-align: left;
    text-indent: 29px;
    text-transform: uppercase;
}

.sf-menu > li > ul > li > a:hover,
ul.sf-menu > li > ul > li.sfHover a {
    color: #c83939;
    background: #fff;
    text-decoration: none;
}

/*submenu2*/
.sf-menu li li ul {
    background: #232322;
    display: block;
    left: 262px !important;
    padding: 23px 0 21px 0;
    top: -23px !important;
    width: 261px;
    z-index: 99;
}

.sf-menu > li > ul > li > a > span {
    background: url(../images/subindicator.png) 0 0 no-repeat;
    display: block;
    height: 11px;
    position: absolute;
    right: 30px;
    top: 7px;
    width: 7px;
}

.sf-menu > li > ul > li.sfHover > a > span {
    background-position: right 0;
}

.sf-menu li li li {
    float: none;
    font-size: 12px;
    padding-bottom: 3px;
    padding: 0;
}

.sf-menu li li li a {
    background: none !important;
    color: #686666 !important;
    display: block;
    font: 600 13px/13px "Comfortaa", Arial, sans-serif;
    padding: 6px 0;
    text-align: left;
    text-indent: 29px;
    text-transform: uppercase;
}

.sf-menu li li li a:hover {
    background: #fff !important;
    color: #c83939;
    text-decoration: none;
}

/* RESPONSIVE LAYOUTS */
@media only screen and (max-width: 995px) {
    ul.sf-menu > li {
        margin-left: 7px;
    }
}

@media only screen and (max-width: 767px) {
    .menu_block {
        float: none !important;
        margin: 0 21px !important;
    }

    nav {
        color: #98628b;
        float: none;
        font: 12px/15px Arial, Helvetica, sans-serif;
        margin-bottom: 10px !important;
        margin-top: 10px !important;
        margin: 0 auto;
        padding: 0px 0px 0px;
        width: 100%;
    }

    .sf-menu {
        display: none;
        float: none;
    }

    nav select {
        border-radius: 0px !important;
        -moz-border-radius: 0px !important;
        -webkit-border-radius: 0px !important;
        border: 2px solid #c83939;
        color: #101010;
        float: none;
        font: 14px/20px Arial, Helvetica, sans-serif;
        left: 0%;
        margin-top: 7px;
        margin: 0 auto;
        outline: none !important;
        position: relative;
        position: relative;
        width: 100%;
        z-index: 1000;
        outline: none;
    }

    nav {
        min-height: 30px;
    }
}

/*# sourceMappingURL=superfish.css.map */
